@page "/auth"
@inject HttpClient HttpClient
@using System.Net.Http.Json
@using System.Threading.Tasks
@using System.Text.Json
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager




<h4>Autenticación</h4>
<form @onsubmit="Autenticar">
    <div class="mb-3">
        <label for="usuario" class="form-label">Nombre de usuario:</label>
        <input type="text" class="form-control" id="username" @bind="usuario">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="password" @bind="password">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

@code {
    private string usuario;
    private string password;

    private async Task Autenticar()
    {
        try
        {
            var request = new { usuario, password };
            // Convierte el objeto request a JSON
            var requestJson = JsonSerializer.Serialize(request);

            // Imprime el JSON en la consola del navegador
            await JSRuntime.InvokeVoidAsync("console.log", requestJson);
            var response = await HttpClient.PostAsJsonAsync("http://localhost:8000/api/users/login", request);

            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();

                // Deserializa el objeto JSON para obtener el token de acceso
                var responseObject = JsonSerializer.Deserialize<Dictionary<string, string>>(responseContent);

                if (responseObject.TryGetValue("access_token", out var accessToken))
                {
                    // Almacena el token en localStorage usando IJSRuntime
                    await JSRuntime.InvokeVoidAsync("localStorage.setItem", "accessToken", accessToken);

                    // Redirige al componente de clientes después de la autenticación
                    NavigationManager.NavigateTo("/clientes");
                }
                else
                {
                    Console.WriteLine("No se pudo encontrar el token de acceso en la respuesta JSON.");
                }
            }
            else
            {
                Console.WriteLine("Error al autenticarse. Verifica las credenciales.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }
}
